# ----------------------------
# Логгер
# ----------------------------
LOGGER_LEVEL=${COMMON_LOGGER_LEVEL}
LOGGER_AS_JSON=${COMMON_LOGGER_AS_JSON}

# ----------------------------
# Kafka
# ----------------------------
KAFKA_BROKERS=${COMMON_KAFKA_BROKERS}
ORDER_PAID_TOPIC_NAME=${TOPIC_ORDER_PAID}
ORDER_PAID_CONSUMER_GROUP_ID=${ASSEMBLY_ORDER_PAID_CONSUMER_GROUP_ID}
SHIP_ASSEMBLED_TOPIC_NAME=${TOPIC_SHIP_ASSEMBLED}

# Сколько «собирается» корабль
ASSEMBLY_BUILD_DURATION=${ASSEMBLY_BUILD_DURATION}

# ----------------------------
# Наблюдаемость
# ----------------------------
METRICS_ENABLED=${ASSEMBLY_METRICS_ENABLED}
METRICS_PORT=${ASSEMBLY_METRICS_PORT}
OTEL_SERVICE_NAME=assembly
OTEL_EXPORTER_OTLP_ENDPOINT=${COMMON_OTLP_ENDPOINT}
