# ----------------------------
# gRPC-сервер
# ----------------------------
GRPC_HOST=${INVENTORY_GRPC_HOST}
GRPC_PORT=${INVENTORY_GRPC_PORT}

# ----------------------------
# Логгер
# ----------------------------
LOGGER_LEVEL=${COMMON_LOGGER_LEVEL}
LOGGER_AS_JSON=${COMMON_LOGGER_AS_JSON}

# ----------------------------
# MongoDB
# ----------------------------
MONGO_IMAGE_NAME=${INVENTORY_MONGO_IMAGE_NAME}
EXTERNAL_MONGO_PORT=${INVENTORY_MONGO_EXTERNAL_PORT}
MONGO_HOST=${INVENTORY_MONGO_HOST}
MONGO_PORT=${INVENTORY_MONGO_PORT}
MONGO_DATABASE=${INVENTORY_MONGO_DATABASE}
MONGO_AUTH_DB=${INVENTORY_MONGO_AUTH_DB}
MONGO_INITDB_ROOT_USERNAME=${INVENTORY_MONGO_INITDB_ROOT_USERNAME}
MONGO_INITDB_ROOT_PASSWORD=${INVENTORY_MONGO_INITDB_ROOT_PASSWORD}

# ----------------------------
# Наблюдаемость
# ----------------------------
METRICS_ENABLED=${INVENTORY_METRICS_ENABLED}
METRICS_PORT=${INVENTORY_METRICS_PORT}
OTEL_SERVICE_NAME=inventory
OTEL_EXPORTER_OTLP_ENDPOINT=${COMMON_OTLP_ENDPOINT}
