# ----------------------------
# HTTP-сервер
# ----------------------------
HTTP_HOST=${ORDER_HTTP_HOST}
HTTP_PORT=${ORDER_HTTP_PORT}

# ----------------------------
# Логгер
# ----------------------------
LOGGER_LEVEL=${COMMON_LOGGER_LEVEL}
LOGGER_AS_JSON=${COMMON_LOGGER_AS_JSON}

# ----------------------------
# PostgreSQL
# ----------------------------
POSTGRES_IMAGE_NAME=${ORDER_POSTGRES_IMAGE_NAME}
EXTERNAL_POSTGRES_PORT=${ORDER_POSTGRES_EXTERNAL_PORT}
POSTGRES_HOST=${ORDER_POSTGRES_HOST}
POSTGRES_PORT=${ORDER_POSTGRES_PORT}
POSTGRES_DB=${ORDER_POSTGRES_DB}
POSTGRES_USER=${ORDER_POSTGRES_USER}
POSTGRES_PASSWORD=${ORDER_POSTGRES_PASSWORD}

# ----------------------------
# Соседние сервисы
# ----------------------------
INVENTORY_GRPC_HOST=${ORDER_INVENTORY_GRPC_HOST}
INVENTORY_GRPC_PORT=${ORDER_INVENTORY_GRPC_PORT}
PAYMENT_GRPC_HOST=${ORDER_PAYMENT_GRPC_HOST}
PAYMENT_GRPC_PORT=${ORDER_PAYMENT_GRPC_PORT}

# ----------------------------
# Kafka
# ----------------------------
KAFKA_BROKERS=${COMMON_KAFKA_BROKERS}
ORDER_PAID_TOPIC_NAME=${TOPIC_ORDER_PAID}

# ----------------------------
# Наблюдаемость
# ----------------------------
METRICS_ENABLED=${ORDER_METRICS_ENABLED}
METRICS_PORT=${ORDER_METRICS_PORT}
OTEL_SERVICE_NAME=order
OTEL_EXPORTER_OTLP_ENDPOINT=${COMMON_OTLP_ENDPOINT}
