# ----------------------------
# gRPC-сервер
# ----------------------------
GRPC_HOST=${PAYMENT_GRPC_HOST}
GRPC_PORT=${PAYMENT_GRPC_PORT}

# ----------------------------
# Логгер
# ----------------------------
LOGGER_LEVEL=${COMMON_LOGGER_LEVEL}
LOGGER_AS_JSON=${COMMON_LOGGER_AS_JSON}

# ----------------------------
# Наблюдаемость
# ----------------------------
METRICS_ENABLED=${PAYMENT_METRICS_ENABLED}
METRICS_PORT=${PAYMENT_METRICS_PORT}
OTEL_SERVICE_NAME=payment
OTEL_EXPORTER_OTLP_ENDPOINT=${COMMON_OTLP_ENDPOINT}
